<div class="component-wrapper">
    <ul>
        <li *ngFor="let item of items; let i = index" [attr.data-index]="i">
            <div class="button-wrapper">
                <label for="{{idFromParent}}{{i || '-only'}}" class="label-class">Input Label {{i}}</label>
                <button id="Button{{i}}" mat-flat-button color="primary">
                    {{'button ' + i}}
                </button>
                <mat-form-field appearance="fill">
                    <input id="{{idFromParent}}{{i}}"  class="email-input" matInput placeholder="danny@gmail.com"  required>
                </mat-form-field>
            </div>
            
        </li>
    </ul>
</div>
