<div class="full-page">
  <app-menubar></app-menubar>
    <div class="main-content">
      
      
      

      <div class="flex-row">
        <div class="flex-col-4">
          <div class="nav-link-list-vert">
            <div class="nav-link-div">
              <a routerLink="/radio">Radio Buttons</a>
            </div>
            <div class="nav-link-div">
              <a routerLink="/card">Mat Card</a>
            </div>
            <div class="nav-link-div">
              <a routerLink="/buttons">Mat Buttons</a>
            </div>
            <div class="nav-link-div">
              <a routerLink="/wizard">Mat Stepper Wizard</a>
            </div>
            <div class="nav-link-div">
              <a routerLink="/forms">Material Form</a>
            </div>
          </div>
        </div>
        <div class="flex-col-4">
          <div class="nav-link-list-vert">
            <div class="nav-link-div">
              <a routerLink="/lists">Unique IDs on lists</a>
            </div>
            <div class="nav-link-div">
              <a routerLink="/other1">Miscellanious</a>
            </div>
            <div class="nav-link-div">
              <a>coming soon - links with click</a>
            </div>
            <div class="nav-link-div">
              <a>coming soon - live regions</a>
            </div>
            <div class="nav-link-div">
              <a>coming soon - modals</a>
            </div>
        </div>
        </div>
        <div class="flex-col-4">
          
        </div>
      </div>
      <!-- <nav>
        <div class="nav-link-list-vert">
          <div class="nav-link-div">
            <a routerLink="/radio">Radio Buttons</a>
          </div>
          <div class="nav-link-div">
            <a routerLink="/card">Mat Card</a>
          </div>
          <div class="nav-link-div">
            <a routerLink="/buttons">Mat Buttons</a>
          </div>
          <div class="nav-link-div">
            <a routerLink="/wizard">Mat Stepper Wizard</a>
          </div>
          <div class="nav-link-div">
            <a routerLink="/forms">Material Form</a>
          </div>
          <div class="nav-link-div">
            <a routerLink="/lists">unique IDs on lists</a>
          </div>
          <div class="nav-link-div">
            <a>coming soon - links with click</a>
          </div>
          <div class="nav-link-div">
            <a>coming soon - live regions</a>
          </div>
          <div class="nav-link-div">
            <a>coming soon - modals</a>
          </div>
        </div>
        
        
      </nav> -->
      <!-- <img src="assets/img/thing.png"> -->
      <router-outlet></router-outlet>
      
      <!-- <div class="svg-container">
        <img class="home-grown-svg" type="image/svg+xml" src="assets/img/homegrown.svg">
      </div> -->

      <!-- <app-stepper-template></app-stepper-template> -->
      <!-- <div>
        <svg width="100" height="50" 
          viewBox="0 0 40 20" 
          preserveAspectRatio="none"
          xmlns="http://www.w3.org/2000/svg">
          
          <g>
            <polygon [attr.fill]="mycolour" stroke-width="1" stroke="black"
              points="0,0 16,0 20,10 16,20 0,20" />
          </g>
        </svg>
      </div> -->
      

      
    </div>
    <div class="greedy-div">
      <button mat-flat-button color="primary"
        aria-label="Continue to next page"
        [routerLink]="['/buttons']" routerLinkActive="router-link-active" >
        Continue
      </button>
    </div>
    <app-footer class="footer mat-toolbar"></app-footer>
</div>


