<div class="flex-row zubida">
    <div class="flex-col-5">
        <div class="component-wrapper">
            <ul>
                <li *ngFor="let item of items; let i = index" [attr.data-index]="i">
                    <inno-inno-wcag-input [idFromParent]="'danno'" [listIndex]="i">
        
                    </inno-inno-wcag-input>
                    
                </li>
            </ul>
        </div>

    </div>
    <div class="flex-col-15">
        <eval-ts-html-scss-tabbed-viewer [markup]="'/assets/codeview/app-routing.module.ts.codeview'">
        </eval-ts-html-scss-tabbed-viewer>
        <!-- <app-code-viewer [snippet]="otherSnippet"></app-code-viewer>
        <app-code-viewer [snippet]="otherSnippet"></app-code-viewer> -->
        <!-- <pre data-src="assets/codeview/unique-list-snippet.html.codeview" class="line-numbers language-markup" data-line="5-10"></pre> -->
        <!-- <pre data-src="assets/codeview/app-routing.module.ts.codeview" class="line-numbers language-typescript" data-line="5-10"></pre> -->
    </div>
</div>



<!-- <pre data-src="assets/codeview/app-routing.module.ts.codeview" class="line-numbers language-typescript" data-line="5-10"></pre>
<pre data-src="assets/codeview/unique-list-snippet.html.codeview" class="line-numbers language-markup" data-line="5-10"></pre>
<app-code-viewer [snippet]="otherSnippetHTML"></app-code-viewer> -->
