<h1>A11y Playground</h1>

<h2>Material 10 radio buttons</h2>
<label id="radio-group-label">Group of radio buttons</label>
<label aria-hidden="true" hidden="true" id="radio-button-1-label">Hotdog with cheese</label>
<mat-radio-group
  aria-labelledby="radio-group-label"
  class="radio-group-basic1">
  <mat-radio-button 
    class="radio-button-basic1"
    aria-labelledby="radio-button-1-label"
    [value]="options.OPTION_ONE">
    {{options.OPTION_ONE}}
  </mat-radio-button>
  <mat-radio-button 
    class="radio-button-basic1"
    value="'button 2'"
    [value]="options.OPTION_TWO">
    {{options.OPTION_TWO}}
  </mat-radio-button>

</mat-radio-group>

<router-outlet></router-outlet>