<div class="full-page">
  <app-menubar></app-menubar>
    <div class="main-content">
      
      <h1>A11y Playground</h1>
      

      <nav>
        <div class="nav-link-list-vert">
          <div class="nav-link-div">
            <a routerLink="/radio">Radio Buttons</a>
          </div>
          <div class="nav-link-div">
            <a routerLink="/card">Mat Card</a>
          </div>
          <div class="nav-link-div">
            <a routerLink="/buttons">Mat Buttons</a>
          </div>
        </div>
        
        
      </nav>

      <router-outlet></router-outlet>
      
      
      
    </div>
    <div class="greedy-div">
      <button mat-flat-button color="primary"
        aria-label="Continue to next page"
        [routerLink]="['/buttons']" routerLinkActive="router-link-active" >
        Continue
      </button>
    </div>
    <app-footer class="footer mat-toolbar"></app-footer>
</div>


