<div class="component-wrapper">
    <h2>Material 10 card</h2>
    <p>Example of a Material Card that could be used as an inline modal</p>
    <mat-card class="basic-card">
    <mat-card-header>

    </mat-card-header>
    <mat-card-content>
        <p>this is a paragraph in the content area</p>
        <p>this is a second paragraph in the content area</p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-flat-button aria-label="Add a person to list of persons">
        <mat-icon>person_add</mat-icon>
        Add Person
        </button>
        <button mat-flat-button aria-label="Cancel adding person">
        <mat-icon>cancel</mat-icon>
        Cancel
        </button>
    </mat-card-actions>
    </mat-card>

    <p> This is a test of the unique id component, passing Id from parent</p>
    <app-unique-list [idFromParent]="'requestor'">

    </app-unique-list>
</div>
