<p>
    <mat-toolbar>
        <button mat-icon-button class="hamberder-button" aria-label="Hamberder icon for menu">
            <mat-icon>menu</mat-icon>
        </button>
        <span>A11y Menu</span>
        <span class="flex-spacer"></span>
        <mat-form-field>
            <mat-label>Search</mat-label>
            <input matInput placeholder="ex. forms">
        </mat-form-field>
        <button mat-icon-button class="favs-button" aria-label="Favourites">
            <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="share-button" aria-label="Share page">
            <mat-icon>share</mat-icon>
        </button>
    </mat-toolbar>
</p>
