/* You can add global styles to this file, and also import other style files */

/* for prism code highlighter */
@import "~prismjs/plugins/toolbar/prism-toolbar.css";
@import "~prismjs/plugins/unescaped-markup/prism-unescaped-markup.css";
/* @import "~prismjs/themes/prism-okaidia"; */
@import "~prismjs/themes/prism-tomorrow";
/* @import "~prismjs/themes/prism-coy"; */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.component-wrapper {
    margin-left: 50px;
    margin-top: 30px;
}

#wizard-wrapper {
    .mat-horizontal-stepper-header-container {
        height: 180px;
        background-color: rgba(255,255,255,1);
    }

    .step-progress-bar {
        width: 100%;
        height: 6px;
        border: 1px solid rgba(255,255,255,0.3);
    }

    .mat-step-header {
        overflow: hidden;
        outline: none;
        cursor: pointer;
        position: relative;
        box-sizing: content-box;
        -webkit-tap-highlight-color: transparent;
        height: 100%;
        width: 400px;
        background-color: rgba(90, 147, 238, 0.336);
        /* background-image: url('./assets/img/poly.svg'); */
    }

    .mat-step-header:focus {
        background-color: rgba(128, 245, 81, 0.246);
    }

    .mat-horizontal-stepper-header {
        display: flex;
        padding: 0 24px;
        flex-direction: column;
        height: 100%;
        padding-bottom: 20px;
    }

    .mat-stepper-horizontal-line {
        border-top-width: 1px;
        border-top-style: solid;
        /* flex: auto; */
        height: 0;
        margin: 0 -16px;
        min-width: 32px;
    }

    .step-text {
        text-align: center;
    }

    .mat-step-icon {
        border-radius: 50%;
        height: 24px;
        width: 24px;
        flex-shrink: 0;
        position: relative;
        top: 140px;
        left: 10px;
    }
}

.spacer {
    margin-top: 20px;
    margin-bottom: 20px;
}

.mat-button-focus-overlay {
    border-radius: 0px !important;
    background-color: red;
}

code[class*="language-"],
pre[class*="language-"] {
    line-height: 1.5em;
}
